/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Bubbleboddyneue';
    src: url('assets/bubbleboddyneue.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('assets/Comfortaa.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa';
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-family: 'Bubbleboddyneue';
}
